In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\jagjeet singh\anaconda3\lib\site-packages (0.1.20)
Requirement already satisfied: click in c:\users\jagjeet singh\anaconda3\lib\site-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in c:\users\jagjeet singh\anaconda3\lib\site-packages (from opendatasets) (4.59.0)
Requirement already satisfied: kaggle in c:\users\jagjeet singh\anaconda3\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: python-dateutil in c:\users\jagjeet singh\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: certifi in c:\users\jagjeet singh\anaconda3\lib\site-packages (from kaggle->opendatasets) (2020.12.5)
Requirement already satisfied: python-slugify in c:\users\jagjeet singh\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in c:\users\jagjeet singh\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: six>=1.10 in c:\users\jagjeet singh\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: urllib3 in c:\users\jagjeet singh\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\jagjeet singh\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jagjeet singh\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\jagjeet singh\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (4.0.0)

In [2]:
import opendatasets as od

In [3]:
dataset = 'https://www.kaggle.com/brendan45774/countries-life-expectancy'

In [4]:
od.download(dataset)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: jagjeet555
Your Kaggle Key: ········

100%|██████████████████████████████████████████████████████████████████████████████| 17.2k/17.2k [00:00<00:00, 320kB/s]

Downloading countries-life-expectancy.zip to .\countries-life-expectancy

In [5]:
import os

In [6]:
data_dir = '.\countries-life-expectancy'

In [7]:
os.listdir(data_dir)

['Life expectancy.csv']

In [8]:
import pandas as pd

In [11]:
life_df = pd.read_csv('Life expectancy.csv')
life_df

             Entity  Year  Life expectancy
0         Australia  1802        34.049999
1         Australia  1803        34.049999
2         Australia  1804        34.049999
3         Australia  1805        34.049999
4         Australia  1806        34.049999
...             ...   ...              ...
3248  United States  2012        78.940002
3249  United States  2013        78.959999
3250  United States  2014        78.940002
3251  United States  2015        78.870003
3252  United States  2016        78.860001

[3253 rows x 3 columns]